<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nchu.mall.services.product.dao.SkuSaleAttrValueMapper">
    <!--  查询库存 -->
    <select id="getSaleAttrsBySpuId" resultType="edu.nchu.mall.models.vo.SkuItemSaleAttrVO">
        SELECT
            ssav.attr_id as `attr_id`, ssav.attr_name as `attr_name`, GROUP_CONCAT(DISTINCT ssav.attr_value) as `attr_values`
        FROM
            pms_sku_info info LEFT JOIN pms_sku_sale_attr_value ssav ON info.sku_id = ssav.sku_id
        WHERE spu_id = #{spuId}
        GROUP BY ssav.attr_id, ssav.attr_name;
    </select>
    <select id="getSaleAttrValues" resultType="java.lang.String">
        SELECT CONCAT(attr_name, ':', attr_value) AS attrs
        FROM product.pms_sku_sale_attr_value
        WHERE sku_id = #{skuId};
    </select>
    <select id="getBatchSaleAttrValues" resultType="edu.nchu.mall.services.product.vo.SaleAttrValueVO">
        SELECT
            sku_id AS skuId,
            GROUP_CONCAT(CONCAT(attr_name, ':', attr_value) SEPARATOR ';') AS nameValues
        FROM product.pms_sku_sale_attr_value
        WHERE sku_id IN
        <foreach item="skuId" collection="skuIds" separator="," open="(" close=")">
            #{skuId}
        </foreach>
        GROUP BY sku_id;
    </select>
</mapper>
