<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nchu.mall.services.product.dao.SpuInfoMapper">

    <select id="getSpuInfoById" resultType="edu.nchu.mall.models.vo.SpuInfoVO">
        SELECT
            id AS spu_id,
            spu_name,
            catalog_id,
            cat.name AS catalog_name,
            brand.brand_id AS brand_id,
            brand.name AS brand_name
        FROM
            pms_brand brand LEFT OUTER JOIN
                pms_category cat LEFT OUTER JOIN pms_spu_info spu
                ON cat.cat_id = spu.catalog_id
            ON brand.brand_id = spu.brand_id
        WHERE
            spu.id = #{id};
    </select>
    <select id="getBatchSpuInfoById" resultType="edu.nchu.mall.models.vo.SpuInfoVO">
        SELECT
            id AS spu_id,
            spu_name,
            catalog_id,
            cat.name AS catalog_name,
            brand.brand_id AS brand_id,
            brand.name AS brand_name
        FROM
            pms_brand brand LEFT OUTER JOIN
                pms_category cat LEFT OUTER JOIN pms_spu_info spu
                ON cat.cat_id = spu.catalog_id
            N brand.brand_id = spu.brand_id
        WHERE
            spu.id IN
        <foreach item="item" collection="ids" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
